node_modules
../.DS_Store
.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated

## Various settings
*.pbxuser
!default.pbxuser
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
